<!DOCTYPE html>
<html>
<head>
  <title>Fruit Store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= link_to "Homepage", products_path, :class => "navbar-text pull-left" %>

      <% if current_user %>
        Logged in as <%= current_user.user_name %>.
      <% else %>
        <%= link_to "Create User", new_user_path, :class => "navbar-text pull-right" %>
        <%= link_to "Log In", new_session_path, :class => "navbar-text pull-right"%>
      <% end %>
    </div>

  </div>
  <br>
  <br>
  <div class="container" id="main">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </div>
</body>
</html>
